/* General styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 1rem;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links li  {
  color: #333;
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 0.3s;
}



.App {
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

h1 {
  color: #333333;
  font-size: 2rem;
  margin-bottom: 1rem;
}

h2 {
  color: #555555;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* Album list styles */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fafafa;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Form styles */
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.form-input {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 20px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
  width: 20rem;
  background: linear-gradient(45deg, #f0f0f0, #e0e0e0);
  border: 1px solid #f0f0f0;
  border-bottom: 2px solid #e0e0e0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1),
              0 1px 0 rgba(255, 255, 255, 0.2);
}

.form-input:focus {
  outline: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3),
              inset 0 1px 2px rgba(0, 0, 0, 0.1),
              0 1px 0 rgba(255, 255, 255, 0.2);
}


.form-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  background-color: #333;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.form-btn:hover {
  background-color: #ff0;
  color: #333;
}




button {
  background-color: #007bff;
  color: #ffffff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

button.delete {
  background-color: #dc3545;
  margin-left: 0.5rem;
}

button.delete:hover {
  background-color: #c82333;
}
/* Card container */
.cards-container {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  gap: 2rem;
  flex-wrap: wrap;
}

.album-container{

  margin-left: 2rem;
  width: 24rem;
  position: relative;
  height: 20rem;
  background: url('https://i.imgur.com/W3tra4F.gif');
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 1rem;
}

.album-container>h3{
  margin: 0;
  padding: 1rem;
  color: whitesmoke;
  font-size: 2rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

.album-container .form-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin-right: 1rem;
}

.album-container .form-btn{
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  background-color: #333;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
  flex: 0;
}

.album-container .form-btn:hover{
  background-color: #ff0;
  color: #333;
}

.album-container>button.delete{
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color:rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  border: none;
  color: #333;
  font-size: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.album-container>button.delete:hover{
  background-color: #c82333;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .cards-container {
    grid-template-columns: 3fr ;
    
}
}
@media screen and (min-width: 768px) and (max-width:1300px) {
  .cards-container {
    grid-template-columns: repeat(2,2fr);
    gap:1rem 1rem;
    margin: 0;
    
}
.album-container{
  max-width: 70%;


}
input{
    max-width: 75%;
}
}